.contact-form {
    border-radius: 30px !important;
    width: auto;
    margin: auto;
    max-width: 600px;
}

.contact-form-content {
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
}

.contact-form-thumbnail {
    position: relative;
    height: 156px;
    width: auto;
    z-index: 0;
}

.contact-form-image {
    position: absolute;
    background-size: cover !important;
    background-position: center;
    z-index: -1;
    height: 100%;
    width: 100%;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.contact-form-title {
    text-align: center;
    font-weight: 700 !important;
    font-size: 24px !important;
    padding-top: 40px;
    color: #fff;
}

.contact-form-tagline {
    text-align: center;
    font-size: 18px !important;
    padding-top: 18px;
    color: #fff;
}

.contact-form-elements {
    padding: 32px;
}


.btn-form-submit {background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%)}
.btn-form-submit {
    display: block !important;
    margin: auto !important;
    padding: 8px 32px !important;
    margin-bottom: 32px !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: white !important;            
    box-shadow: 0 0 20px #eee !important;
    border-radius: 20px !important;
 }

.btn-form-submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    transition: 0.5s ;
}
