.pricing {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    border-radius: 4px;
    background-color: #fff;
    padding: 24px 24px;
    margin: 32px 16px;
    display: none;
    text-align: center;
    line-height: 2em;
    position: sticky;
    top: 97px;
}

@media (min-width: 960px) {
    .pricing {
        display: block;
    }
}

.pricing .price-box,
.pricing .next-date {
    display: inline-block;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.pricing .price {
    font-size: 2.2em;
    font-weight: 600;
    color: var(--primary);
}

.pricing .date {
    font-size: 1.2em;
    font-weight: 600;
}

.pricing .contact-booking {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing button {
    background-color: var(--primary);
    padding: 6px 8px;
    width: 100%;
}

.pricing button:hover {
    background-color: var(--primaryHover);
    width: 100%;
}